.service{
    .service_top{
        margin-top: 120px;
        h2{
            font-size: 40px;
            font-weight: 700;
            line-height: 52.08px;
            color: $text-color;
            text-align: center;
        }
        .service_box{
            display: grid;
            grid-template-columns: 30% 1% 35% 1% 30%;
            justify-content: center;
            align-items: center;
            max-width: 1170px;
            min-height: 314px;
            border-radius: 17px;
            border: 2px solid #EBEBEBCC;
            margin-top: 55px;
            hr{
                height: 240px;
                width: 2px;
                border: none;
                background-color: #EBEBEBCC;
            }
            .boxes{
                text-align: center;
                margin: auto;
                img{
                    width: 100px;
                    height: 90px;
                }
                h3{
                    font-size: 36px;
                    font-weight: 700;
                    color: $text-color;
                    margin: 23px 0 13px 0;
                }
                p{
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 31.25px;
                    color: $text-color;
                    opacity: 70%;
                }
            }
        }
    }
    .service_bottom{
        h2{
            font-size: 40px;
            font-weight: 700;
            line-height: 52.08px;
            text-align: center;
            margin-top: 60px;
            color: $text-color;
        }
        .service_card{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 120px;
            gap: 30px;
            .cards{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 356px;
                min-height: 302px;
                border-radius: 23px;
                background-color: $white;
                text-align: center;
                &:hover .cards_button, &:hover .services_icon{
                    background-color: #FF7A50D4;
                    color: $white;
                    transition: .3s;
                    cursor: pointer;
                }
            }
            .services_icon{
                width: 102px;
                height: 102px;
                border-radius: 50%;
                align-content: center;
                text-align: center;
                margin-top: -51px;
                background-color: $white;
                box-shadow: 2px 2px 4px #5F5F5F0D;
                i{
                    font-size: 42px;
                }
            }
            h4{
                font-size: 24px;
                font-weight: 700;
                color: $text-color;
                margin-top: 25px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                max-width: 277px;
                margin: 10px 10px 0px 10px;
                color: #595959;

            }
            .cards_button{
                width: 42px;
                height: 42px;
                border-radius: 50%;
                background-color: #F1F1F5;
                color: black;
                align-content: center;
                margin-top: 27px;

                i{
                    font-size: 20px;
                }
            }
        }
    }
}