$text-color: #3D3D3F;
$orange:  #F35F2F;
$white:  #ffffff;

@mixin for-button{
    background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
    opacity: 85%;
    color: white;
    border: none;
    border-radius: 5px;
}
@mixin text-hover{
    color: $orange;
    transition: 0.3s;
    cursor: pointer;
}
@mixin button-hover{
    background: orangered;
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
}
